/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
 height: 80%;
 border-radius: 50px;
 margin: 12px;
 
}

.add-button {
    position: absolute;
    top: 1px;
    left: 1px;
  }

/* Optional: Makes the sample page fill the window. */
html, body {
 background-color: rgb(230, 230, 230);
 height: 100%;
 margin: 0;
 padding: 0;
 text-align: center;
}

#map-controllers {
 margin: 0px;
 padding: 0px;
 text-align: center;
}

#map-controllers .zoom {
  background-color: #4885ed;
  font-size: xx-large;
  text-align: center;
  width:50px;
  height: 50px;
  border-radius: 5px;
  margin-left: 12px;
  margin-right: 10px;
  display: inline-block;
}

#map-controllers #panLeft, #panRight, #panUp, #panDown {
    text-align: center;
    font-size: medium;
    width:30px;
    height: 30px;
    border-radius: 2px;
    margin-left: 6px;
    margin-right: 10px;
    display: inline-block;
}

#panLeft{
    background-color: #3cba54;
}

#panRight {
    background-color: #f4c20d;
}

#panUp {
    background-color: #db3236;
}

#panDown {
    background-color: #4885ed;
}


#map-controllers #joe, #moe, #here{
    background-color: #939393;
    font-size: small;
    text-align: center;
    border-radius: 5px;
    margin: 12px;
    display: inline-block;
  }

#goFS{ /* Styling ifall vi aktiverar fullscreen-knappen */
    background-color: rgba(0, 0, 0, 0.687);
    padding: 5px;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
/* The pop-up */

.popup {
    position: absolute;
    bottom:0;
    left:50%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

  }
  
  /* The actual popup */
  .popup .popuptext {
    width: 180px;
    background-color: rgba(115, 152, 255, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    margin-bottom: 5px;
    border-color: rgba(115, 152, 255, 0.9) transparent transparent transparent;
  }
  

  .popup #close{
      float: right;
      padding-right:5px;
      color:rgba(0, 0, 0, 0.427);
  }
  
  /* So we can hide and show de pop-up depending on if its already on the homescreen or not */
  .popup .show {
    visibility: visible;
  }

  .popup .hide {
      visibility: hidden;
  }